#divReg{
    /*height: 240px;*/
    margin: auto;
    width: 30%;
    background-color: rgba(55, 208, 228, 0.699);
    border-style: groove;
}
.pC{
    display:block;
    margin:center;
    text-align: center;
}
form {
    text-align: center;
  }

  /*INICIO SESION*/
  #divSes{
    /*height: 240px;*/
    margin: auto;
    width: 30%;
    background-color: rgba(97, 172, 182, 0.575);
    border-style: groove;
}